body{
    font-family: arial;
    font-size: 12px;
    margin: 0;
    color: #666;
}
header h1{
    font-size:2.5em;
    margin: 2% 0 0;
    text-align: center;
}
header span#calMonth{
    color: #ffaa00;
}
.calTbl{
    border-collapse:collapse;
    width:100%;
}
.calTbl td{
    border:1px solid #46d;
}
.calHeader{
    background-color: #46d;
    color: #fff;
    width: 100%;
}
.calHeader th.calDay{
    font-size: 130%;
    text-align: center;
    padding: 0.7% 0.5%; 
}
#calendar div#prev, #calendar div#next{
    background-color: #3959C7;
    color: #FFFFFF;
    font-weight: bold;
    padding: 0.5% 2%;
    cursor: pointer;
}
#calendar div#prev{
    float: left;
    border-top-right-radius: 10px;
}
#calendar div#next{
    float:right;
    border-top-left-radius: 10px;
}
#calendar table{
    clear: both;
}
#calendar td.dayBox{
    padding: 0.7% 0.5%;    
}
#calendar td.dayBoxEmpty{
    background-color: #f5f5f5;
}
#calendar td.dayBox div.dateLg {
    float: left;
    min-width: 1.2em;
    font-size: 300%;
    margin-left: 4%;
    margin-right: 4%;
    padding-left: 1%;
}


